@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url(./font/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(./font/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Poppins-Semi;
    src: url(./font/Poppins/Poppins-SemiBold.ttf);
}

@layer utilities {
    
    .searchIcon {
        background-image: url(../img/icon/search.svg);
        background-size: contain;
		background-repeat: no-repeat;
		height: 25px;
		width: 25px;
    }

    .folderIcon {
        background-image: url(../img/icon/folder.svg);
        background-size: contain;
		background-repeat: no-repeat;
		height: 150px;
		width: 200px;
    }

    .arrowLeftIcon {
        background-image: url(../img/icon/arrow-left.svg);
        background-size: contain;
		background-repeat: no-repeat;
		height: 30px;
		width: 30px;
    }

    .crossIcon {
        background-image: url(../img/icon/cross.svg);
        background-size: contain;
		background-repeat: no-repeat;
		height: 25px;
		width: 25px;
    }

    .pencilIcon {
        background-image: url(../img/icon/pencil.svg);
        background-size: contain;
		background-repeat: no-repeat;
		height: 25px;
		width: 25px;
    }

    .plusIcon {
        background-image: url(../img/icon/plus.svg);
        background-size: contain;
		background-repeat: no-repeat;
		height: 25px;
		width: 25px;
    }

    .noBorder {
        border: 0px;
    }

    .customSize {
        height: 37rem;
        width: 30rem;
    }

    .overflowWrap {
        overflow-wrap: anywhere;
    }

}