html,
body,
body > div {
    height: 100%;
    overflow: hidden;
}

body > div {
    margin: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
    background-color: #efefef;
}

.editor {
    background-color: white;
    flex: auto;
    border: none;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cccccc;
}

@media (orientation: portrait) {
    body {
        flex-direction: row;
    }
}